<!--Jumbotron-->
<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">Order variety of cuisines, juices, coffee and desserts.</p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a href="/"><button type="button" class="btn btn-outline-secondary btn-lg"><b>Order Now</b></button></a>
        </div>
    </div>
</div>

<!--Welcome Section-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4"><i>Eat what's best for your belly!</i></h1>
        </div>

        <hr>

        <div class="col-12">
            <p class="lead welcome-master">Welcome to Master Chef J.</p>
        </div>
    </div>
</div>

<!--Service Information-->
<div class="container-fluid padding service-display-quote">

    <div class="row text-center padding">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <img class="service-display" src="/img/select.jpg" alt="">
            <br>
            <h2>SELECT</h2>
                    
            100+ variety of cuisines
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <img class="service-display" src="/img/delivery.jpg" alt="">
            <br>
            <h2>DELIVERY</h2>
                    
            Fastest delivery at your place
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <img class="service-display" src="/img/eat.jpg" alt="">
            <br>
            <h2>EAT</h2>
                    
            Healthy and Delightful Recipes
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <img class="service-display" src="/img/repeat.jpg" alt="">
            <br>
            <h2>REPEAT</h2>
                    
            Keep ordering, Save Time
        </div>
    </div>
    <hr class="my-4">
</div>

<!--Top Cuisine Information-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Top Cuisines of the Month</h1>
        </div>

        <hr>

        <div class="col-12">
            <p class="lead order-quote"><i>You could be chowing down on any of these meals any time you choose - seriously!
            <br>
            Order some (or all) of these meals and see why thousands of Canadians stock us in their fridge!</i></p>
        </div>
    </div>
</div>

<!--Top Cuisine Display-->
<div class="container-fluid padding">
    <div class="row text-center padding">
        {{#each data}}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 cuisine-display-information">
                <img class="cuisine-display" src="/img/{{this.imgName}}" alt="">
                <br><br>
                <p><b>{{this.title}}</b></p>
                <span class="money"><p><b><i>$ {{this.price}}</i></b></p></span>
            </div>
        {{/each}}   
    </div>
</div>

<hr class="my-4">

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Top 2 Meal Packages of the Week</h1>
        </div>

        <hr>

        <div class="col-12">
            <p class="lead order-quote"><i>These are the top 2 meal packages of the week (changes every week)
            <br>
            Enjoy our top meal packages and be delighted and happy</i></p>
        </div>
    </div>
</div>

<!--Top Meal Packages of the Month-->
<div class="container-fluid padding">
    <div class="row text-center padding">
        {{#each dataPackage}}
            {{#if this.topPackage}}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 cuisine-display-information">
                    <img class="topmeal-display" src="/img/{{this.img}}" alt="">
                    <br><br>
                    <p><b>{{this.title}}</b></p>
                    <span class="money"><p><b><i>$ {{this.price}}</i></b></p></span>
                </div>
            {{/if}}
        {{/each}}   
    </div>
</div>