<div class="container-fluid padding  blank-design">
    <div class="row padding">
        <div class="col-lg-4 col-md-3 col-sm-2"></div>

        <div class="col-lg-4 col-md-6 col-sm-8">
            <form action="/user/login" method="POST" id="form-ui">
                <fieldset>
                    <legend><b>Customer Login</b></legend>

                    <div class="col-12 social-pic">
                        <img class="social" src="/img/fbLogo.jpg" alt="">
                        <img class="social" src="/img/instaLogo.jpg" alt="">
                        <img class="social" src="/img/tweetLogo.jpg" alt="">
                    </div>

                    <div class="col-12" id="or">
                        <hr>or<hr>
                    </div>

                    <div class="error-style" style="font-weight: bolder; text-align:center;">{{authenticationError}}</div>

                    <div class="col-12 label-name">
                        <label for="email">Email</label>
                        {{#each errorMessages}}<div class="error-style">{{this.email}}</div>{{/each}}
                        <div><input class="field-input" type="email" placeholder="Enter Email..." name="email" value={{field.email}}></div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-4" style="text-align: right; font-family: cursive;"><label for="password">Password</label></div>
                            <div class="col-8" style="text-align: center;"><a><i>&emsp;&emsp;Forgot Password?</i></a> </div>
                        </div>
                        {{#each errorMessages}}<div class="error-style">{{this.password}}</div>{{/each}}
                        <div class="label-name"><input class="field-input" placeholder="Enter Password" type="password" name="password" value={{field.password}}></div>
                    </div>

                    <div class="col-12 label-name">
                        <b><input class="field-input btn btn-primary btn-lg" type="submit" value="Sign in" id="signIn"></b>
                    </div>
                    <br>
                </fieldset>
            </form>
        </div>

        <div class="col-lg-4 col-md-3 col-sm-2"></div>
    </div>

</div>